MODELO CONCEITUAL (Versao final)

![title](../img/diagrama_etapa02.2.jpg)

MODELO RELACIONAL

Doenca(__id__, nome, categoria)

DoencaSintoma(__idDoenca__, __sintoma__)
FK: idDoenca - Doenca(id)

Paciente(__id__, tipo, altura, peso, sexo, idade)

PacienteSintoma(__idPaciente__, __sintoma__)
FK: idPaciente - Paciente(id)

PacienteHistoricoDoencas(__idPaciente__, __idDoenca__)
FK: idPaciente - Paciente(id)
FK: idDoenca - Doenca(id)

ContaMedico(__username__, senha, nome, sobrenome, email, numCRM, situacao)

Remedio(__id__, principioAtivo, laboratorio, nomeVenda, apresentacao, classeTerapeutica, tipo, restricaoHospitalar, tarja)

Tratamento(__id__, __idRemedio__, quantidade, tipo, horarioUso, tempoUso)
FK: idRemedio - Remedio(id)

Recomendacao(__codigo__, usernameMedico, idPaciente, __idTratamento__)
FK: usernameMedico - Medico(username)
FK: idPaciente - Paciente(id)

In [2]:
%defaultDatasource jdbc:h2:mem:db

In [4]:
DROP TABLE IF EXISTS Doenca;
DROP TABLE IF EXISTS DoencaSintoma;
DROP TABLE IF EXISTS Paciente;
DROP TABLE IF EXISTS PacienteSintoma;
DROP TABLE IF EXISTS PacienteHistoricoDoencas;
DROP TABLE IF EXISTS ContaMedico;
DROP TABLE IF EXISTS Remedio;
DROP TABLE IF EXISTS Tratamento;
DROP TABLE IF EXISTS Recomendacao;

CREATE TABLE Doenca (
  id VARCHAR(5) NOT NULL,
  nome VARCHAR(30) NOT NULL,
  categoria VARCHAR(50) NULL,
  PRIMARY KEY(id)
);

CREATE TABLE DoencaSintoma (
  idDoenca VARCHAR(5) NOT NULL,
  sintoma VARCHAR(50) NOT NULL,
  PRIMARY KEY(idDoenca, Sintoma),
  FOREIGN KEY(idDoenca)
    REFERENCES Doenca(id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

CREATE TABLE Paciente (
  id VARCHAR(10) NOT NULL,
  tipo CHAR NOT NULL,
  altura DOUBLE NOT NULL,
  peso DOUBLE NOT NULL,
  sexo CHAR NOT NULL,
  idade INTEGER NOT NULL,
  PRIMARY KEY(id)
);

CREATE TABLE PacienteSintoma (
  idPaciente VARCHAR(10) NOT NULL,
  sintoma VARCHAR(50) NOT NULL,
  PRIMARY KEY(idPaciente, Sintoma),
  FOREIGN KEY(idPaciente)
    REFERENCES Paciente(id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

CREATE TABLE PacienteHistoricoDoencas (
  idPaciente VARCHAR(10) NOT NULL,
  idDoenca VARCHAR(5) NOT NULL,
  PRIMARY KEY(idDoenca, idPaciente),
  FOREIGN KEY(idDoenca)
    REFERENCES Doenca(id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(idPaciente)
    REFERENCES Paciente(id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

CREATE TABLE ContaMedico (
  username VARCHAR(20) NOT NULL,
  senha VARCHAR(20) NOT NULL,
  nome VARCHAR(20) NOT NULL,
  sobrenome VARCHAR(20) NOT NULL,
  email VARCHAR(20) NOT NULL,
  numCRM INTEGER NOT NULL,
  situacao CHAR NOT NULL,
  PRIMARY KEY(username)
);

CREATE TABLE Remedio (
  id VARCHAR(20) NOT NULL,
  principioAtivo VARCHAR(250) NOT NULL,
  laboratorio VARCHAR(150) NOT NULL,
  nomeVenda VARCHAR(150) NOT NULL,
  apresentacao VARCHAR(200) NULL,
  classeTerapeutica VARCHAR(150) NULL,
  tipo VARCHAR(150) NOT NULL,
  restricaoHospitalar VARCHAR(50) NULL,
  tarja VARCHAR(15) NULL,
  PRIMARY KEY(id)
) AS SELECT
    ID_REMEDIO,
    PRINCIPIO_ATIVO,
    LABORATORIO,
    PRODUTO,
    APRESENTACAO,
    CLASSE_TERAPEUTICA,
    TIPO_DE_PRODUTO,
    RESTRICAO_HOSPITALAR,
    TARJA
FROM CSVREAD('../data/tabela_remedios_2.csv');

CREATE TABLE Tratamento (
  id VARCHAR(20) NOT NULL,
  idRemedio VARCHAR(50) NOT NULL,
  quantidade VARCHAR(20) NOT NULL,
  tipo VARCHAR(100) NOT NULL,
  horarioUso VARCHAR(50) NOT NULL,
  tempoUso INTEGER NOT NULL,
  PRIMARY KEY(id, idRemedio),
  FOREIGN KEY(idRemedio)
    REFERENCES Remedio(id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION
);

CREATE TABLE Recomendacao (
  codigo VARCHAR(10) NOT NULL,
  usernameMedico VARCHAR(20) NOT NULL,
  idPaciente VARCHAR(20) NOT NULL,
  idTratamento VARCHAR(20) NOT NULL,
  PRIMARY KEY(codigo, idTratamento),
  FOREIGN KEY(usernameMedico)
    REFERENCES ContaMedico(username)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
  FOREIGN KEY(idPaciente)
    REFERENCES Paciente(id)
      ON DELETE NO ACTION
      ON UPDATE NO ACTION,
    --fazendo referencia à tabela Tratamento se apresenta o erro: 'Primary key violation',
    --devido a que só se quere fazer referencia a um elemento (id) da superchave (id, idRemedio)
);

In [5]:
INSERT INTO Doenca VALUES ('D1','Febre tifoide','Doencas infecciosas intestinais');
INSERT INTO Doenca VALUES ('D2','Febre amarela','Febre arbovirus e hemorrágicas virais');
INSERT INTO Doenca VALUES ('D3','Malaria/Plasmodium falciparum','Doenças por protozoarios');

INSERT INTO DoencaSintoma VALUES ('D1','Febre alta');
INSERT INTO DoencaSintoma VALUES ('D1','Mal estar');
INSERT INTO DoencaSintoma VALUES ('D1','Tosse seca');
INSERT INTO DoencaSintoma VALUES ('D2','Febre');
INSERT INTO DoencaSintoma VALUES ('D2','Cansaço');
INSERT INTO DoencaSintoma VALUES ('D2','Mal-estar');
INSERT INTO DoencaSintoma VALUES ('D2','Dor de cabeça');
INSERT INTO DoencaSintoma VALUES ('D3','Dor de cabeça');
INSERT INTO DoencaSintoma VALUES ('D3','Febre');
INSERT INTO DoencaSintoma VALUES ('D3','Calafrios');

INSERT INTO Paciente VALUES ('med1P1','C',120,30,'M',5);
INSERT INTO Paciente VALUES ('med1P2','A',170,100,'F',36);
INSERT INTO Paciente VALUES ('med2P1','a',170,60,'F',15);
INSERT INTO Paciente VALUES ('med3P1','I',162,67,'M',60);
INSERT INTO Paciente VALUES ('med4P1','I',162,67,'M',60);

INSERT INTO PacienteSintoma VALUES ('med1P1','Febre');
INSERT INTO PacienteSintoma VALUES ('med1P2','Mal-estar');
INSERT INTO PacienteSintoma VALUES ('med2P1','Dor de cabeça');
INSERT INTO PacienteSintoma VALUES ('med3P1','Tosse seca');
INSERT INTO PacienteSintoma VALUES ('med3P1','Febre');
INSERT INTO PacienteSintoma VALUES ('med3P1','Mal-estar');
INSERT INTO PacienteSintoma VALUES ('med4P1','Febre');

INSERT INTO PacienteHistoricoDoencas VALUES ('med1P1','D1');
INSERT INTO PacienteHistoricoDoencas VALUES ('med1P1','D3');
INSERT INTO PacienteHistoricoDoencas VALUES ('med1P2','D3');
INSERT INTO PacienteHistoricoDoencas VALUES ('med2P1','D2');
INSERT INTO PacienteHistoricoDoencas VALUES ('med4P1','D3');

INSERT INTO contaMedico VALUES ('med1','1234','Alfredo','Flores','medico1@gmail.com',12445,'A');
INSERT INTO contaMedico VALUES ('med2','1224','Joao','Diaz','medico2@gmail.com',10154,'A');
INSERT INTO contaMedico VALUES ('med3','1278','Mauricio','Almeia','medico3@gmail.com',10624,'A');
INSERT INTO contaMedico VALUES ('med4','1076','Pedro','Einstein','medico4@gmail.com',10103,'A');
INSERT INTO contaMedico VALUES ('med5','1357','Jean','Raiz','medico5@gmail.com',11254,'A');

INSERT INTO Tratamento VALUES ('med1T1','R1','2','Comprimidos','4x/dia',7);
INSERT INTO Tratamento VALUES ('med1T2','R47','3','Comprimidos','1x/dia',3);
INSERT INTO Tratamento VALUES ('med2T1','R153','2','Comprimidos','4x/dia',7);
INSERT INTO Tratamento VALUES ('med3T1','R300','2','Comprimidos','3x/dia',15);
INSERT INTO Tratamento VALUES ('med4T1','R67','1','Comprimidos','1x/dia',5);
INSERT INTO Tratamento VALUES ('med4T2','R562','2','Comprimidos','2x/dia',8);
INSERT INTO Tratamento VALUES ('med4T3','R561','1','Comprimidos','2x/dia',8);

INSERT INTO Recomendacao VALUES ('med1P1Re','med1','med1P1','med1T1');
INSERT INTO Recomendacao VALUES ('med1P1Re','med1','med1P1','med1T2');
INSERT INTO Recomendacao VALUES ('med1P2Re','med1','med1P2','med1T2');
INSERT INTO Recomendacao VALUES ('med2P1Re','med2','med2P1','med2T1');
INSERT INTO Recomendacao VALUES ('med3P1Re','med3','med3P1','med3T1');
INSERT INTO Recomendacao VALUES ('med4P1Re','med4','med4P1','med4T1');
INSERT INTO Recomendacao VALUES ('med4P1Re','med4','med4P1','med4T2');
INSERT INTO Recomendacao VALUES ('med4P1Re','med4','med4P1','med4T3');

1) Contagem de vezes que uma doenca foi detetada.

In [4]:
SELECT idDoenca, COUNT(*) AS contagem
FROM PacienteHistoricoDoencas
GROUP BY idDoenca

2) Relacao de remedios que precisam de receita.

In [5]:
SELECT DISTINCT nomeVenda, tarja
FROM Remedio
WHERE tarja = 'Tarja Preta' OR tarja = 'Tarja Vermelha'
ORDER BY nomeVenda

3) Nome dos medicos que receitaram um Tratamento por mais de 10 dias. Tambem apresentar o nome de venda do remedio.

In [6]:
SELECT M.nome, R.id, R.nomeVenda
FROM Recomendacao Re, ContaMedico M, Tratamento T, Remedio R
WHERE Re.usernameMedico = M.username AND Re.idTratamento = T.id AND T.idRemedio = R.id AND
T.tempoUso > 5